{{> head }}
<body>
  {{> navbar }}
  <div class="container">
    {{{ body }}}
  </div>
  
  {{#if addMaterial}}
    {{> footer-add-material}}
  {{/if}}

  {{#if isCreate}}
    {{> footer-create}}
  {{/if}}
  
  {{#if isEdit}}
    {{> footer-edit}}
  {{/if}}

</body>
</html>