<h1>Добавить материал</h1>
<div class="main-block">

  <div class="form-block">
    <h2>Общая информация</h2>
    {{>add-material-form}}
  </div>

  <div class="sidebar-block">
    <h2>Сводная информация</h2>

    <table class="submit-table">
      <tbody class="submit-block">
        <tr>
          <td>Материал не выбран</td>
        </tr>
      </tbody>
    </table>

    <div class="total-weight">
      <p>Общий вес:</p>
      <input readonly type="number" value="0" name="totalweigth" form="scaleForm">
    </div>


    <button id="myBtn" type="submit" class="btn btn-primary btn-next" form="scaleForm">Сохранить
      <i class="icon-MS icon-ChevronRight"></i>
    </button>
  </div>

</div>
