<style>
  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #fafbff;
  }
</style>

<img src="/scale-logo.png" alt="scale-logo">

<form id="tenso-form" action="/tenso-start" method="post">
  <input name="link" type="text" placeholder="input id" autofocus>
</form>